.DS_Store
data/raw/
*.vcf
*.vcf.gz
*.tbi
results/*.pgen
results/*.pvar
results/*.psam
results/*.bed
results/*.bim
results/*.fam
results/admixture/*.Q
results/admixture/*.P
results/admixture/log_K*.out
